body{
background-color: lightgrey;
}

.table{
    margin-top: 50px;
     /* margin-left: 10px; */
    /* margin-right: 10px;  */
    /* width: 80vw; */

}

/* .table-head{
    background-color: black;
} */